*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Abel;
   /* font-family: Spline Sans;*/
}


html,body{
    height: 100%;
    background-color: #0e0f10;
    overflow-x: hidden;
 
   
}

.clear{
    clear: both;
}

.center{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    width: 100%;
    height: 90px;
}

.logo{
    float: left;
    margin: 0px 75px;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.logo span{
    font-size: 60px;
}

nav.menu-desktop{
    float: right;
    margin: 33px 75px;
}

nav.menu-desktop ul li{
    list-style-type: none;
    float: left;
    padding-right: 60px;
}

nav.menu-desktop ul li:nth-last-of-type(1){
    padding-right: 0;
}

nav.menu-desktop ul li a{
    font-size: 23px;
    color: white;
  text-decoration: none;
  transition: all 0.3s;
  padding: 5px 25px;
  border: 2px solid #463785;
  
  border-radius: 5px;
}

.menu-desktop .button-link{
   
    background-color: #463785;
    border-radius: 5px;
    
    
}

.menu-desktop a:hover{
    box-shadow: 0 0 15px #463785;
}




nav.menu-mobile{
    display: none;
    float: right;
    margin-top: -45px;
    margin-right: 40px;
    cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url('../images/menu.png');
	background-size: 100% 100%;
    
}
nav.menu-mobile ul{
    display: none;
    position: absolute;
    background-color: #2f1985 ;
    top: 70px;
    left: -18px;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav.menu-mobile ul li {
    padding: 10px;
    border: 1px solid #15084d;

}

nav.menu-mobile ul li a{
    text-decoration: none;
    color: white;
    font-size:18px;
    

}


section.main{
    margin-top: 40px;
    width: 100%;
}

section.main .conteudo-sobre{
    float: left;
    width: 50%;
}

.conteudo-sobre .dev{
    margin-top: 90px;
    border-left: 2px solid #2f1985;
    padding: 0 5px;
    color: white;
    font-weight: normal;
    font-size: 27px;

}

.conteudo-sobre .title-autor{
    margin-top: 50px;
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 0 5px;
    font-family: Abel;
}


.conteudo-sobre p{
    margin-top: 15px;
    color: white;
    padding: 0 5px;
    font-family: Abel;
    max-width: 450px;
    font-size: 19px;
    line-height: 25px;
    text-align: justify;
   
}

.conteudo-sobre .button{
    margin-top: 25px;
    text-align: center;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #2f1985;
}

.conteudo-sobre .button a{
 color: white;
 text-decoration: none;
 font-size: 18px;
}


section.main .banner{
    margin-top: 13px;
    width: 50%;
    float: right;
    position: relative;
}

.banner .banner-top{
  width: 100%;
  margin-bottom: 30px;
}

.banner .banner-top .img-html5{
    float: left;
    width: 75px;
    height: 75px;
    background-image: url('../images/logo-html.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner .banner-top .img-css3{
    margin-top: 20px;
    float: right;
    width: 70px;
    height: 70px;
    background-image: url('../images/logo-css.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.banner .banner-center{
    width: 100%;
}

.banner .banner-center .img-fundo{
    margin: 10px auto;
    width: 370px;
    height: 370px;
    background-image: url('../images/vector.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    transform: rotate(-25deg);
  
}

.banner .banner-center .img-frente{
    z-index: 1;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    background-image: url('../images/image-top.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    position: absolute;
    top: -10px;
    left: 9%; 
}


.banner .banner-bottom{
    position: relative;
    width: 100%;
}

.banner .banner-bottom .img-js{
    position: absolute;
    top: -35px;
    left: 40%;
    width: 80px;
    height: 80px;
    background-image: url('../images/logo-js.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


section.tec{
    width: 100%;
    margin-top: 50px;
}

section.tec .wraper-title{
    padding-top: 100px;
    margin-bottom: 60px;
    max-width: 180px;
    
    

}

section.tec .wraper-title .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2f1985 ;
    float: right;

}

section.tec .wraper-title .title h2{
    color: white;
    font-size: 35px;
    font-weight: normal;

}

section.tec .container-tec{
 padding: 40px 0;
 overflow: hidden;
}


section.tec .tec-single{
    float: left;
    width: 25%;
    padding: 25px;
    margin-right: -90px;
    text-align: center;
    color: white;
}

section.tec .tec-single .img-tec{
    
    padding-top: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}


section.tec .tec-single p{
    margin-top: 10px;
   
}

section.diferenciais{
    margin-top: 70px;
    padding: 40px 0;
}


section.diferenciais .wraper-title{
    padding-top: 100px;
    margin-bottom: 60px;
    max-width: 180px;
    
    

}

section.diferenciais .wraper-title .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2f1985 ;
    float: right;

}

section.diferenciais .wraper-title .title h2{
    color: white;
    font-size: 35px;
    font-weight: normal;

}




.container-diferenciais{
    width: 100%;
    padding: 40px 0;
}


.container-diferenciais .wraper-diferencial{
    margin: 0 auto;
    display: flex;
    
}


.wraper-diferencial .diferencial-box:nth-last-of-type(2){
  position: relative;
  top: -43px;
}


.wraper-diferencial .diferencial-box{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 33.3%;
    box-shadow: 0 0 15px  rgb(105, 99, 99);
    margin:  20px;
   
   
}

.wraper-diferencial .img-diferencial{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.wraper-diferencial .img-diferencial h3{
    padding: 0 15px;
    font-size: 23px;
    text-align: center;

}

.wraper-diferencial .text-diferencial{
    margin-top: 15px;
    padding: 0 18px;
    text-align: left;
    margin-bottom: 15px;
}





section.projetos{
}

section.projetos .wraper-title{
    padding-top: 100px;
    margin-bottom: 60px;
    max-width: 260px;
    
    

}

section.projetos .wraper-title .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2f1985 ;
    float: right;

}

section.projetos .wraper-title .title h2{
    color: white;
    font-size: 35px;
    font-weight: normal;

}

.container-projetos{
    width: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
}

.projeto-single{
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.texto-projeto{
    width: 40%;
}

.texto-projeto h3{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 23px;

}


.texto-projeto p{
    margin: 25px auto;
    color: white;
    text-align: justify;
    padding: 0 15px;
    max-width: 450px;
    font-size: 17px;
}


.texto-projeto a{
	text-decoration: none;
	color: white;
	padding: 5px 35px;
	border:  2px solid #463785;
    font-size:19px;
    border-radius:10px;
    transition: all .3s;
	
}

.btnCodigo{
    text-align: center;
}

.texto-projeto a:hover{
    box-shadow: 0 0 15px #463785;
}


.img-projeto{
    width: 60%;
    box-shadow: 0 0 10px rgb(59, 58, 58);
    padding-top: 20%;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  
}

footer{
    display: flex;
    margin-top: 50px;
    border-top: 2px solid #463785;
    box-shadow: 0 0 5px rgb(49, 46, 46);
    justify-content: space-around;
}

footer .redes-sociais{
    margin: 30px 0;
}

footer .redes-sociais i{
    font-size: 37px;
    color: white;
    cursor: pointer;
    margin: 0 15px;
    transition:  all .3s;
}

footer .redes-sociais i:hover{
    color: #463785;
}






/*deseing responsivel*/
@media screen and (max-width: 920px){
    nav.menu-desktop{
        margin: 33px 20px;
    }


    .banner .banner-center .img-frente{

        left: 0; 
    }
}


@media screen and (max-width: 980px){
    section.projetos .arrow-left{
        left: 0%;
 
    }

    section.projetos .arrow-right{
        right: 0%;
 
    }

    .img-diferencial h3{
        font-size: 20px;
        padding: 0;
    }

    .wraper-diferencial .img-diferencial{
       margin-left: 0;
    }

}



@media screen and (max-width: 980px){
    section.projetos .arrow-left{
        left: -1%;
 
    }

    section.projetos .arrow-right{
        right: -1%;
 
    }

    .projeto-single{
        margin-top: 60px;
        margin-bottom: 30px;
       display: block;
       border: 1px solid #463785;
       border-radius: 10px;
    }

    .projeto-single .texto-projeto{
        width: 100%;
        margin-bottom: 30px;
    }

    .projeto-single .img-projeto{
        padding-top: 35%;
        width: 100%;
        
    }

    .projeto-single .texto-projeto p{
        max-width: 600px;
    }

    
    
}




@media screen and (max-width: 830px){
    nav.menu-desktop{
        margin: 33px 3px;
    }

    .banner .banner-center .img-frente{

        left: -10%; 
    }

    .container-diferenciais .wraper-diferencial{
        justify-content: center;
        flex-direction: column;
       
    }
    .wraper-diferencial .diferencial-box{
        width: 100%;
        margin: 10px 0;
        text-align: center;

    }

    .wraper-diferencial .diferencial-box:nth-last-of-type(2){
        top: 0;
    }

    .diferencial-box .text-diferencial{
        font-size: 18px;
    }


}


@media screen and (max-width: 768px){
    nav.menu-desktop{
       display: none;
    }

    nav.menu-mobile{
        display: block;
    }


    .banner .banner-center .img-frente{

        left: -15%; 
    }


    section.main .conteudo-sobre{
        float: none;
        width: 100%;
        text-align: center;
    }

    .conteudo-sobre p{
      max-width: none;
    }

    .conteudo-sobre .button{
        margin: 25px auto;

    }

    .conteudo-sobre .dev{
        margin: 50px auto;
        margin-bottom: 50px;
        border: 0;
        max-width: 300px;
        padding: 5px 0;
        border-bottom: 2px solid #2f1985;
    
    }

    section.main .banner{
        display: none;
        float: none;
    }
    
    section.tec .tec-single .img-tec{
        padding-top: 50%;
        background-position: center;
  
       
    }

    section.projetos .projetos-single{
      
         max-width: 500px;
        
     }

     section.projetos .arrow-left{
        left: 0;
 
    
    }
    section.projetos .arrow-right{
        right: 0;
 
    
    }

    .projeto-single .img-projeto{
        padding-top: 45%;
    }


}


@media screen and (max-width: 680px){
    section.projetos .projetos-single{
      
        max-width: 500px;
       
    }
    section.projetos .projetos-single .img-projeto{
    
        padding-top: 80%;
      
        
    }
}

@media screen and (max-width: 575px){
    section.projetos .projetos-single{
      
        max-width: 500px;
       
    }

    section.projetos .projetos-single .img-projeto{
    
        padding-top: 80%;
      
        
    }
    


    section.projetos .arrow-left{
        width: 50px;
        height: 90px;
        padding-left: 10px;
        line-height: 90px;
        font-size: 30px;
 
    
    }
    section.projetos .arrow-right{
        width: 50px;
        height: 90px;
        padding-left: 10px;
        line-height: 90px;
        font-size: 30px;
 
    
    }
}


/*slick slider*/


.slick-list{
    margin-left: -70px;
}

/*slick slider*/

.slick-dotted ul{
    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
    top:30px;
    
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;

}

.slick-dotted button:focus{
    outline: 0;
}


.slick-dotted li button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: #d8d8d8;
    border-width: 0;
    background-color: #d8d8d8;
    opacity: 1;
    cursor: pointer;

}

li.slick-active button{
    background-color: #2f1985;;
    color: #2f1985;
}
