*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spline Sans;
}


html,body{
    height: 100%;
    background-color: #0e0f10;
    overflow-X: hidden;
 
   
}

.clear{
    clear: both;
}

.center{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    width: 100%;
    height: 90px;
}

.logo{
    float: left;
    margin: 0px 75px;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.logo span{
    font-size: 60px;
}

nav.menu-desktop{
    float: right;
    margin: 33px 75px;
}

nav.menu-desktop ul li{
    list-style-type: none;
    float: left;
    padding-right: 60px;
}

nav.menu-desktop ul li:nth-last-of-type(1){
    padding-right: 0;
}

nav.menu-desktop ul li a{
    font-size: 23px;
    color: white;
  text-decoration: none;
}

nav.menu-desktop ul li a:hover{
    color: #2f1985;
}


nav.menu-mobile{
    display: none;
    float: right;
    margin-top: -45px;
    margin-right: 40px;
    cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url('../images/menu.png');
	background-size: 100% 100%;
    
}
nav.menu-mobile ul{
    display: none;
    position: absolute;
    background-color: #2f1985 ;
    top: 70px;
    left: -18px;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav.menu-mobile ul li {
    padding: 10px;
    border: 1px solid #15084d;

}

nav.menu-mobile ul li a{
    text-decoration: none;
    color: white;
    font-size:18px;
    

}


section.main{
    margin-top: 40px;
    width: 100%;
}

section.main .conteudo-sobre{
    float: left;
    width: 50%;
}

.conteudo-sobre .dev{
    margin-top: 90px;
    border-left: 2px solid #2f1985;
    padding: 0 5px;
    color: white;
    font-weight: normal;
    font-size: 22px;

}

.conteudo-sobre .title-autor{
    margin-top: 50px;
    color: white;
    font-weight: normal;
    font-size: 25px;
    padding: 0 5px;
}


.conteudo-sobre p{
    margin-top: 15px;
    color: white;
    padding: 0 5px;
    max-width: 430px;
    font-size: 16px;
    line-height: 25px;
}

.conteudo-sobre .button{
    margin-top: 25px;
    text-align: center;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #2f1985;
}

.conteudo-sobre .button a{
 color: white;
 text-decoration: none;
 font-size: 18px;
}


section.main .banner{
    margin-top: 13px;
    width: 50%;
    float: right;
    position: relative;
}

.banner .banner-top{
  width: 100%;
  margin-bottom: 30px;
}

.banner .banner-top .img-html5{
    float: left;
    width: 75px;
    height: 75px;
    background-image: url('../images/logo-html.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner .banner-top .img-css3{
    margin-top: 20px;
    float: right;
    width: 70px;
    height: 70px;
    background-image: url('../images/logo-css.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.banner .banner-center{
    width: 100%;
}

.banner .banner-center .img-fundo{
    margin: 10px auto;
    width: 370px;
    height: 370px;
    background-image: url('../images/vector.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    transform: rotate(-25deg);
  
}

.banner .banner-center .img-frente{
    z-index: 1;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    background-image: url('../images/image-top.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    position: absolute;
    top: -10px;
    left: 9%; 
}


.banner .banner-bottom{
    position: relative;
    width: 100%;
}

.banner .banner-bottom .img-js{
    position: absolute;
    top: -35px;
    left: 40%;
    width: 80px;
    height: 80px;
    background-image: url('../images/logo-js.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


section.tec{
    width: 100%;
    margin-top: 50px;
}

section.tec .wraper-title{
    padding-top: 100px;
    margin-bottom: 60px;
    max-width: 180px;
    
    

}

section.tec .wraper-title .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2f1985 ;
    float: right;

}

section.tec .wraper-title .title h2{
    color: white;
    font-size: 30px;
    font-weight: normal;

}

section.tec .container-tec{
    width: 100%;
}


section.tec .tec-single{
    text-align: center;
    float: left;
    width: 25%;
    color: white;
}

section.tec .tec-single .img-tec{
    padding-top: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}


section.tec .tec-single p{
    margin-top: 10px;
   
}

section.projetos{
    margin-top: 40px;
}

section.projetos .wraper-title{
    padding-top: 100px;
    margin-bottom: 60px;
    max-width: 130px;
    
    

}

section.projetos .wraper-title .bullet{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #2f1985 ;
    float: right;

}

section.projetos .wraper-title .title h2{
    color: white;
    font-size: 30px;
    font-weight: normal;

}


section.projetos .container-projetos{
    width: 100%;
    margin-top: 30px;
    position: relative;
}


section.projetos .arrow-left{
    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    cursor: pointer;
    font-size: 50px;
    width: 60px;
    height: 100px;
    padding-left: 5px;
    line-height: 100px;
    background-color: rgba(51,51,51,0.3);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

section.projetos .arrow-right{
    position: absolute;
    top: 50%;
    right: 15%;
    color: white;
    cursor: pointer;
    font-size: 50px;
    width: 60px;
    height: 100px;
    padding-left: 5px;
    line-height: 100px;
    background-color: rgba(51,51,51,0.3);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}

section.projetos .projetos-single{
    display: none;
   background-color: rgb(51,51,51);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


section.projetos .projetos-single .img-projeto{
    
    background-position: center;
    background-size: cover;
    padding-top: 80%;
    margin: 15px;
    border-top: 15px solid #333333;
}

section.projetos .projetos-single p{
    margin: 0 auto;
    max-width: 380px;
    color:white;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    text-align: center;
}

section.projetos .projetos-single .button-projeto{
    
    width: 50%;
    height: 40px;
    line-height: 40px;
    background-color: #2f1985;
    text-align: center;
    margin: 20px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


section.projetos .projetos-single .button-projeto a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;

}



@media screen and (max-width: 1120px){
    section.projetos .arrow-left{
        left: 10%;
 
    }

    section.projetos .arrow-right{
        right: 10%;
 
    }
}

@media screen and (max-width: 980px){
    section.projetos .arrow-left{
        left: 5%;
 
    }

    section.projetos .arrow-right{
        right: 5%;
 
    }
}




/*deseing responsivel*/
@media screen and (max-width: 920px){
    nav.menu-desktop{
        margin: 33px 20px;
    }


    .banner .banner-center .img-frente{

        left: 0; 
    }
}


@media screen and (max-width: 980px){
    section.projetos .arrow-left{
        left: 0%;
 
    }

    section.projetos .arrow-right{
        right: 0%;
 
    }
}



@media screen and (max-width: 980px){
    section.projetos .arrow-left{
        left: -1%;
 
    }

    section.projetos .arrow-right{
        right: -1%;
 
    }
}




@media screen and (max-width: 830px){
    nav.menu-desktop{
        margin: 33px 3px;
    }

    .banner .banner-center .img-frente{

        left: -10%; 
    }
}


@media screen and (max-width: 768px){
    nav.menu-desktop{
       display: none;
    }

    nav.menu-mobile{
        display: block;
    }


    .banner .banner-center .img-frente{

        left: -15%; 
    }


    section.main .conteudo-sobre{
        float: none;
        width: 100%;
        text-align: center;
    }

    .conteudo-sobre p{
      max-width: none;
    }

    .conteudo-sobre .button{
        margin: 25px auto;

    }

    .conteudo-sobre .dev{
        margin: 50px auto;
        margin-bottom: 50px;
        border: 0;
        max-width: 300px;
        padding: 5px 0;
        border-bottom: 2px solid #2f1985;
    
    }

    section.main .banner{
        display: none;
        float: none;
    }
    
    section.tec .tec-single .img-tec{
        padding-top: 50%;
        background-position: center;
  
       
    }

    section.projetos .projetos-single{
      
         max-width: 500px;
        
     }

     section.projetos .arrow-left{
        left: 0;
 
    
    }
    section.projetos .arrow-right{
        right: 0;
 
    
    }


}


@media screen and (max-width: 680px){
    section.projetos .projetos-single{
      
        max-width: 400px;
       
    }
}

@media screen and (max-width: 575px){
    section.projetos .projetos-single{
      
        max-width: 300px;
       
    }


    section.projetos .arrow-left{
        width: 50px;
        height: 90px;
        padding-left: 10px;
        line-height: 90px;
        font-size: 30px;
 
    
    }
    section.projetos .arrow-right{
        width: 50px;
        height: 90px;
        padding-left: 10px;
        line-height: 90px;
        font-size: 30px;
 
    
    }
}

