*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Abel;
}

html,body{
    height: 100%;
    background-color: #eee;
    margin: 15px 0;
}

.center{
    background-color: white;
    border-radius:10px;
    max-width: 700px;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}


.img{
    background-image: url('../images/foto1.jpeg');
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.titulo{
    text-align: center;
    display: flex;
    align-items: center;
}

h1{
    margin-top:15px;
    text-align: center;
}

h2{
    margin-top: 20px;
    margin-bottom: 7px;
}

span{
    padding: 3px 0;
    font-size: 16px;
}

li{
    margin-left: 20px;
    padding: 3px 0;
    font-size: 16px;

}

section.experiencias{
    
    padding-bottom: 30px;
}